<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div style="margin-left: 50px; border: 1px solid black; width: 480px; height: 853px; font-size: 18pt;">
        <h2 style="margin-left: 50px;">Para fazer login no Instagram, é necessario verificar!</h2>
        {% if formaVerificacao is none %}
            <form method="get" style="margin-left: 80px;">
                <div style="margin-top: 60px;">
                    <label style="display: inline-grid;">
                        <span>Selecione a forma que deseja verificar</span>
                        <select name="formaVerificacao" style="margin-top: 35px">
                            <option value="0">Mensagem pelo celular</option>
                            <option value="1">Email</option>
                        </select>
                        <span style="color: #8200d4; font-size: 14pt;">*Esta verificação será feita pelos dados já cadastrados no instagram</span>
                    </label>
                </div>

                <input style="margin-top: 50px;" type="submit" value="Verificar" />
            </form>
        {% else %}
            <form method="post" style="margin-left: 80px;">
                <div style="margin-top: 60px;">
                    <label style="display: inline-grid;">
                        <span>Digite o código enviado para o seu <b>
                                {% if formaVerificacao == 0 %}
                                    Celular
                                {% else %}
                                    E-mail
                                {% endif %}
                            </b> terminado em {{ ultimosDigitos }}
                        </span>
                        <input type="text" name="codigo" maxlength="" value="" />
                    </label>
                </div>

                <input style="margin-top: 50px;" type="submit" value="Verificar" />
            </form>
        {% endif %}
    </div>
</body>
</html>