<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
</head>
<body>
    <h2>Seja bem vindo, <span class="userId">@{{ login }}</span></h2>
    <div id="div_stream">
        {% if not stream %}
            <input onclick="location.href='/stream/criar'" type="button" value="Criar Stream" />
        {% elif not stream.iniciado %}
            <div>
                <input type="text" name="id" value="{{ stream.id }}" readonly/><br>
                <input type="text" name="url" value="{{ stream.url }}" readonly/><br>
                <input type="text" name="key" value="{{ stream.key }}" readonly/><br>
                <input onclick="location.href='/stream/iniciar'"type="button" value="Iniciar Stream" />
            </div>
        {% else %}
            <input type="text" name="id" value="{{ stream.id }}" readonly/><br>
            <div style="display: inline-flex;" >
                <div id="assistindo"></div>
                <input onclick="location.href='/stream/encerrar'" style="margin-left: 70px;" type="button" value="Encerrar Stream" />
            </div>
        {% endif %}
    </div>
    <div id="comentarios" ></div>
    <script>
        var lastComent = 0;
    </script>
    {% if stream and stream.iniciado %}
    <script>
        var div_comentarios = document.getElementById("comentarios");

        function getComentarios(){
            $.ajax({
                type: "get",
                url: "comentarios",
                data: "lastComent=" + lastComent,
                dataType: "json",
                success: function(data){
                    for (var a=0; a < data.length; a+=1){
                        var c_id = data[a].id,
                            c_dt_envio = data[a].dt_envio,
                            c_texto = data[a].texto;

                        var u = data[a].usuario,
                            u_id = u.id,
                            u_nome = u.nome,
                            u_img = u.img;

                        lastComent = c_dt_envio;

                        var comentario = document.createElement("div");
                        comentario.id = c_id;
                        
                        var autor = document.createElement("a");
                        autor.innerHTML = "<img src=\"" + u_img + "\" />" + "<span class=\"userId\">@" + u_nome + "</span>";
                        
                        if(u_id != "" && u_nome != ""){
                            autor.id = u_id;
                            autor.href = "//instagram.com/" + u_nome;
                        }else autor.innerHTML = autor.innerHTML.replace("@", "Sistema");

                        var mensagem = document.createElement("p");
                        mensagem.innerHTML = c_texto;

                        console.log("Novo comentario de " + u_nome + ": " + c_texto);

                        comentario.appendChild(autor);
                        comentario.appendChild(mensagem);
                        div_comentarios.appendChild(comentario);
                        a+=1;

                        div_comentarios.scrollTo(0, div_comentarios.scrollHeight)
                    }

                    setTimeout(getComentarios, 800);
                },
                error: function(xhr, status, e){
                    console.log(e);
                    setTimeout(getComentarios, 500);
                }
            });
        }

        getComentarios();
    </script>
    <script>
        var div_asistindo = document.getElementById("assistindo");
        function getInfo(){
            $.ajax({
                type: "get",
                url: "stream/info",
                dataType: "json",
                success: function(data){
                    console.log(data);

                    var viewCount = data.viewer_count;
                    var status = data.broadcast_status;

                    div_asistindo.innerHTML = "AO VIVO<span>" + viewCount + "</span>";

                    if (status == "stoped"){
                        location.href = "stream/encerrar";
                        return;
                    }

                    setTimeout(getInfo, 2000);
                },
                error: function(xhr, status, e){
                    console.log(e);
                    setTimeout(getInfo, 1500);
                }
            });
        }

        getInfo();
    </script>
    {% endif %}
    {% if erro %}
        {% if mensagem %}
            <script>
                alert("Erro: {{ mensagem }}");
            </script>
        {% else %}
            <script>
                alert("Erro: Ocorreu um erro desconhecido!");
            </script>
        {% endif %}
        <script>
            location.href = ".";
        </script>
    {% elif mensagem %}
        <script>
            alert("{{ mensagem }}");
        </script>
        <script>
            location.href = ".";
        </script>
    {% endif %}
</body>
</html>